<div class="contain" *ngIf="dataSource">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ EntityNameTitle }}
      </li>
      <li (click)="createForm()"><mat-icon> local_hospital</mat-icon></li>
      <li (click)="selectCard()"><mat-icon>credit_card</mat-icon></li>
      <li (click)="selectTable()"><mat-icon>dns</mat-icon></li>
    </ol>
  </nav>
  <div class="text-end">
    <span class="filterSearch" (click)="openFilterSearch()"
      ><i
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title=" Filter Search "
        class="fas fa-filter"
      ></i
    ></span>
  </div>
  <div *ngIf="tableSection">
    <div class="tableOption">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Search Column</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field>
      </div>
      <div>
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="table-section">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="InstalledNo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            ID.
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            <a
              *ngIf="installedno"
              class="a"
              (click)="openEntity(element.InstalledNo)"
            >
              {{ element.InstalledNo }}
            </a>

            <div>
              <span *ngIf="voucher">{{ element.InstalledNo }}</span>
              <a
                class="a"
                (click)="openEmailTrace(element.InstalledNo)"
                data-bs-toggle="modal"
                data-bs-target="#email"
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Email Trace"
                  class="fas fa-envelope"
                ></i>
              </a>

              <a class="a">
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Upload "
                  class="fas fa-cloud-upload-alt"
                ></i>
              </a>
              <a *ngIf="installedno" class="a"
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Edit {{ EntityName }}"
                  class="fas fa-pencil-alt"
                ></i
              ></a>
              <a
                *ngIf="voucher"
                class="a"
                (click)="
                  EditList(
                    element.InstalledNo,
                    element.ENTITY,
                    element.EntityId
                  )
                "
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Edit {{ EntityName }}"
                  class="fas fa-pencil-alt"
                ></i
              ></a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ClientName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Company
          </th>
          <td mat-cell *matCellDef="let element" class="text-start Company">
            {{ element.ClientName }}
            <div>
              <a class="a" (click)="openEmailQuote(element.InstalledNo)">
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="View Email Quote"
                  class="fas fa-file-pdf"
                ></i
              ></a>
            </div>
            <div *ngIf="voucher">
              <a
                class="a"
                (click)="
                  approval(
                    element.InstalledNo,
                    element.ENTITY,
                    element.EntityId
                  )
                "
                >{{ element.Approval }}</a
              >
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ContactName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Contact
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.ContactName }}
            <div>
              <a class="a"
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Phone"
                  class="fas fa-phone"
                ></i
              ></a>
              <a
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="WhatsApp"
                  class="fab fa-whatsapp"
                ></i
              ></a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="OwnerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Owner Name
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.OwnerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Anualisedamount">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-end"
            mat-sort-header
          >
            Amount
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-end table-data"
            [ngStyle]=""
          >
            {{ element.Anualisedamount | currency: "INR" }}
            <div>
              <a class="a" (click)="openChat(element.InstalledNo)">
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Chat"
                  class="far fa-comments"
                ></i
              ></a>
              <a
                class="a"
                (click)="openNotes(element.InstalledNo, element.ClientName)"
              >
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="view Notes"
                  class="far fa-clipboard"
                ></i>
              </a>
              <a (click)="openAction(element.InstalledNo, element.ClientID)"
                ><i class="fas fa-plus-circle"></i
              ></a>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="StatusName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.StatusName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DeliveryStatusName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Del Status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.DeliveryStatusName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SourceName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Source
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.SourceName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Billedstatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Billed status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.Billedstatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ServiceTypeName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Service
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.ServiceTypeName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Stage">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Stage
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.Stage }}
          </td>
        </ng-container>
        <ng-container matColumnDef="EXPClosuredateDashboard">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            EXP Date
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-start table-data"
            [ngClass]="
              element.EXPClosuredateDashboard >= toDayDate ? 'green' : 'red'
            "
          >
            {{ element.EXPClosuredateDashboard | dateformat }}
          </td>
        </ng-container>
        <ng-container matColumnDef="DeliveryDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Del Date
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-start table-data"
            [ngClass]="element.DeliveryDate >= toDayDate ? 'green' : 'red'"
          >
            {{ element.DeliveryDate | dateformat }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: listColumns"></tr>
      </table>
    </div>
  </div>
  <div style="background-color: rgb(113, 180, 219)" *ngIf="cardSection">
    <div
      cdkDropList
      [cdkDropListData]="dataSource.data"
      class="cardSection row"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card
        class="card-box col"
        *ngFor="let cardData of dataSource.data"
        cdkDrag
      >
        <div class="company">
          <span>{{ cardData.ClientName }}</span>
        </div>
        <div>
          <div>
            <span>
              <a class="a" (click)="openEntity(cardData.InstalledNo)">
                {{ cardData.InstalledNo }}</a
              ></span
            >
            opened on
            <span>{{ cardData.Opendate | dateformat }}</span>
          </div>
        </div>
        <div class="row">
          <div>
            <span> {{ cardData.ContactName }}</span
            ><span> {{ cardData.ConMobile }}</span
            ><span>{{ cardData.Contactdetail }}</span>
          </div>
        </div>
        <div>
          <div class="ActionField">
            <span> {{ cardData.nextactiontype }}</span> for
            <span> {{ cardData.OwnerName }}</span> on
            <span> {{ cardData.NextActtiondate | dateformat }}</span> at
            <span> {{ cardData.Nextactiontime }}</span>
          </div>
        </div>
        <div>{{ cardData.REMARK }}</div>
        <div class="iconfield">
          <div>
            <span class="iconfield-badge" *ngIf="cardData.Anualisedamount">{{
              cardData.Anualisedamount | currency: "INR"
            }}</span>
            <span *ngIf="cardData.StatusName" class="iconfield-badge">{{
              cardData.StatusName
            }}</span>
          </div>

          <div class="icon">
            <li>
              <a
                class="a"
                (click)="openNotes(cardData.InstalledNo, cardData.ClientName)"
              >
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="view Notes"
                  class="far fa-clipboard"
                ></i>
              </a>
            </li>
            <li>
              <a
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="WhatsApp"
                  class="fab fa-whatsapp"
                ></i
              ></a>
            </li>
            <li>
              <a class="a"
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Phone"
                  class="fas fa-phone"
                ></i
              ></a>
            </li>
            <li>
              <a class="a" (click)="openChat(cardData.InstalledNo)">
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Chat"
                  class="far fa-comments"
                ></i
              ></a>
            </li>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div>
    <!-- <table>
      <thead>
        <tr>
          <th>GroupBy</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let y of groupbydata | keyvalue">
          <td>
            {{ y.key }}
          </td>
          <ng-container *ngFor="let x of columns">
            <td>{{ y.value[x] }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>

<!-- <mat-spinner ></mat-spinner> -->
