<div class="contain" *ngIf="dataSource">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ EntityName }}
      </li>
      <li (click)="selectCard()"><mat-icon>credit_card</mat-icon></li>
      <li (click)="selectTable()"><mat-icon>dns</mat-icon></li>
    </ol>
  </nav>
  <div class="text-end">
    <span class="filterSearch" (click)="openFilterSearch()"
      ><i
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title=" Filter Search "
        class="fas fa-filter"
      ></i
    ></span>
  </div>
  <div *ngIf="tableSection">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard">
          <mat-label>Search Column</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="table-section">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="InstalledNo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            ID.
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            <a
              *ngIf="installedno"
              class="a"
              (click)="openEntity(element.InstalledNo)"
            >
              {{ element.InstalledNo }}
              <!--   -->
            </a>
            <!--  -->
            <span *ngIf="voucher">{{ element.InstalledNo }}</span>
            <a
              class="a"
              (click)="openEmailTrace(element.InstalledNo)"
              data-bs-toggle="modal"
              data-bs-target="#email"
              ><i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Email Trace"
                class="fas fa-envelope"
              ></i>
            </a>

            <a class="a">
              <i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Upload "
                class="fas fa-cloud-upload-alt"
              ></i>
            </a>
            <a
              class="a"
              (click)="
                EditList(element.InstalledNo, element.ENTITY, element.EntityId)
              "
              ><i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Edit {{ EntityName }}"
                class="fas fa-pencil-alt"
              ></i
            ></a>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ClientName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Company
          </th>
          <td mat-cell *matCellDef="let element" class="text-start Company">
            <a class="a" (click)="openEmailQuote(element.InstalledNo)">
              <i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Email Quote"
                class="fas fa-file-pdf"
              ></i
            ></a>
            {{ element.ClientName }}
            <div *ngIf="voucher">
              <a
                class="a"
                (click)="
                  approval(
                    element.InstalledNo,
                    element.ENTITY,
                    element.EntityId
                  )
                "
                >{{ element.Approval }}</a
              >
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ContactName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Contact
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.ContactName }}
            <a class="a"
              ><i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Phone"
                class="fas fa-phone"
              ></i
            ></a>
            <a
              ><i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="WhatsApp"
                class="fab fa-whatsapp"
              ></i
            ></a>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="OwnerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Owner Name
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            <a class="a" (click)="openChat(element.InstalledNo)">
              <i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Chat"
                class="far fa-comments"
              ></i
            ></a>
            <a class="a" (click)="openNotes(element.InstalledNo)">
              <i
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="view Notes"
                class="far fa-clipboard"
              ></i>
            </a>
            {{ element.OwnerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Anualisedamount">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-end"
          >
            Amount
          </th>
          <td mat-cell *matCellDef="let element" class="text-end table-data">
            {{ element.Anualisedamount | currency: "INR" }}
            <a (click)="openAction(element.InstalledNo, element.ClientID)"
              ><i class="fas fa-plus-circle"></i
            ></a>
          </td>
        </ng-container>
        <ng-container matColumnDef="StatusName">
          <!-- *ngIf="isStatus " -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.StatusName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DeliveryStatusName">
          <!-- *ngIf="isShowDStatus" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Del Status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.DeliveryStatusName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Billedstatus">
          <!-- *ngIf="isBStatus" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Billed Status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.Billedstatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SourceName">
          <!-- *ngIf="isSourceName" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Source
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.SourceName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Billedstatus1">
          <!-- *ngIf="isSourceName" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Billed status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.Billedstatus }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isDDeliveryStatus1">
          <!--  *ngIf="isDDeliveryStatus" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Del Status
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.isDDeliveryStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ServiceTypeName">
          <!-- *ngIf="isServiceType" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Service
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.ServiceTypeName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Stage">
          <!-- *ngIf="stage" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Stage
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.Stage }}
          </td>
        </ng-container>
        <ng-container matColumnDef="EXPClosuredateDashboard">
          <!-- *ngIf="isDeliveryDate" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            EXP Date
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.EXPClosuredateDashboard }}
          </td>
        </ng-container>
        <ng-container matColumnDef="DeliveryDate">
          <!-- *ngIf="expDate" -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="text-start"
          >
            Del Date
          </th>
          <td mat-cell *matCellDef="let element" class="text-start table-data">
            {{ element.DeliveryDate }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div style="background-color: rgb(113, 180, 219)" *ngIf="cardSection">
    <div
      cdkDropList
      class="cardSection row"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card
        class="card-box col"
        *ngFor="let cardData of dataSource.data"
        cdkDrag
      >
        <div class="company">
          <span>{{ cardData.ClientName }}</span>
        </div>
        <div>
          <div>
            <span>{{ cardData.InstalledNo }}</span> opened on
            <span>{{ cardData.Opendate | date: "dd MMM y" }}</span>
          </div>
        </div>
        <div class="row">
          <div>
            <span> {{ cardData.ContactName }}</span
            ><span> {{ cardData.ConMobile }}</span
            ><span>{{ cardData.Contactdetail }}</span>
          </div>
        </div>
        <div>
          <div class="ActionField">
            <span> {{ cardData.nextactiontype }}</span> for
            <span> {{ cardData.OwnerName }}</span> on
            <span> {{ cardData.NextActtiondate | date: "dd MMM y" }}</span> at
            <span> {{ cardData.Nextactiontime }}</span>
          </div>
        </div>
        <div>{{ cardData.REMARK }}</div>
        <div class="iconfield">
          <div>
            <span class="iconfield-badge">{{
              cardData.Anualisedamount | currency: "INR"
            }}</span>
            <span class="iconfield-badge">{{ cardData.StatusName }}</span>
          </div>

          <div class="icon">
            <li>
              <a class="a" (click)="openNotes(cardData.InstalledNo)">
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="view Notes"
                  class="far fa-clipboard"
                ></i>
              </a>
            </li>
            <li>
              <a
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="WhatsApp"
                  class="fab fa-whatsapp"
                ></i
              ></a>
            </li>
            <li>
              <a class="a"
                ><i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Phone"
                  class="fas fa-phone"
                ></i
              ></a>
            </li>
            <li>
              <a class="a" (click)="openChat(cardData.InstalledNo)">
                <i
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Chat"
                  class="far fa-comments"
                ></i
              ></a>
            </li>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<!-- <mat-spinner ></mat-spinner> -->
