.example-full-width {
  width: 95%;
}
.form-container {
  min-height: 400px;
  width: 400px;
}


.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;
}

.standard-color-modal{
  background-color: #dcebdc;
}
