.comp_name {
    background-color: #2a9fda7c;
    color: black;
    border-radius: 10px;
}

.link {
    background-color: #c8e8f87c;
}

.entity_box {
    /* width: 100%; */
    margin: 2px;
    border-radius: 2px;
    color: #0000005d;
}

.address_part {
    background-color: #ece6e6;
}

.col_1 {
    font-size: small;
    text-decoration: solid;
    margin-right: 10px;
}

.col_2 {
    font-size: small;
    color: #000000a9;
}

#schedule {
    font-size: small;
    text-align: start;
    color: #0000005d;
}


/*  */

.billing {
    display: flex;
    justify-content: center;
}

.chatHeadingSize {
    width: 100px;
}