<div *ngIf="entityData">
    <div class="modal-header comp_name">
        <!-- header part with company name, id and title starts here -->
        <div class="col-lg-6">
            <div class="p-1">
                <div class="text-start">
                    <h3>{{ entityData?.CompanyName }}</h3>
                </div>
            </div>
        </div>
        <!-- id and title section -->
        <div class="col-lg-5 text-end">
            <div class="row">
                <div>{{ EntityNameTitle }} ID : {{ Entityid }}</div>
            </div>
            <div class="row" id="id_title">
                <div>Title : {{ data.Title }}</div>
            </div>
        </div>
        <div class="col-lg-1 text-end">
            <button type="button" mat-dialog-close class="btn-close"></button>
        </div>
    </div>
    <!-- modal body main code -->
    <div class="modal-body col" id="modal ">
        <!-- compant Details data row starts here -->
        <div class="row billing">
            <div class="col-lg-5 border border-dark entity_box address_part">
                <div>
                    <h6><b>Billing Address</b></h6>
                    <br />
                    <span class="text-dark" id="col_2 ">
            {{ entityData?.CompanyAddress }}<br />
            {{ entityData?.CompanyAddress1 }}
          </span>
                </div>
            </div>
            <!-- second column in row -->
            <div class="col-lg-5 entity_box border border-dark">
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <b>
                <span class="text-end text-black-50 col_1">Status:</span>
                <span class="col-lg-3 text-start col_2">
                  {{ entityData?.Status }}</span
                >
              </b>
                        </div>
                        <div>
                            <b>
                <span class="text-end text-black-50 col_1">Priority:</span>
                <span class="col-lg-3 text-start col_2">
                  {{ entityData?.Priority }}
                </span>
              </b>
                        </div>
                        <div>
                            <b>
                <span class="text-end text-black-50 col_1">Source:</span>
                <span class="col-lg-3 text-start col_2">
                  {{ entityData?.Source }}</span
                ></b
              >
            </div>
          </div>

          <div class="col-lg-6">
            <div>
              <b>
                <span class="text-end text-black-50 col_1">Status:</span>
                <span class="col-lg-3 text-start col_2">
                  {{ entityData?.Status }}
                </span>
              </b>
                        </div>
                        <div>
                            <b>
                <span class="text-end text-black-50 col_1">Source:</span>
                <span class="col-lg-3 text-start col_2">
                  {{ entityData?.Source }}
                </span>
              </b>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <h6 id="schedule "><b>Next Schedule Action :</b></h6>
                        <div id="col_2 ">
                            <b>Follow up action on {{ entityData?.Opendate }}</b>
                            <br />
                            <b>To call and ask for demo meeting</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- links -->
        <div class="row">
            <ul class="nav nav-tabs billing">
                <li class="nav-item hover-shadow m-1">
                    <a class="nav-link text-center border border-primary link" (click)="product()">
                        <u>PRODUCTS</u>
                    </a>
                </li>
                <span entityData>{{ entityData?.schedule }}</span>

                <li class="nav-item hover-shadow m-1">
                    <a class="nav-link border border-primary link" (click)="action()">
                        <u>ACTIONS</u>&nbsp;&nbsp;<span class="text-center" entityData>
              ({{ entityData?.ActionCount }})</span
            >
          </a>
        </li>
        <li class="nav-item hover-shadow m-1">
          <a
            class="nav-link border border-primary link"
            data-bs-toggle="tab "
         
            ><u>CHATS</u>&nbsp;&nbsp;<span class="text-center" entityData
              >({{ entityData?.Chatcnt }})</span
            >
          </a>
        </li>
        <li class="nav-item hover-shadow m-1">
          <a
            class="nav-link border border-primary link"
            data-bs-toggle="tab "
            
            ><u>ATTACHMENTS</u>&nbsp;&nbsp;<span class="text-center" entityData
              >({{ entityData?.schedule }})</span
            >
          </a>
        </li>
        <li class="nav-item hover-shadow m-1">
          <a
            class="nav-link border border-primary link"
            data-bs-toggle="tab "
            
            ><u>VOUCHERS</u>&nbsp;&nbsp;<span class="text-center"  entityData
              >({{ entityData?.schedule }})</span
            >
          </a>
        </li>
        <li class="nav-item hover-shadow m-1">
          <a
            class="nav-link border border-primary link"
            data-bs-toggle="tab "
            (click)="noteTable()"
            ><u>Notes</u>&nbsp;&nbsp;
            <span class="text-center" entityData
              >({{ entityData?.NotesCount }})</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ms-2 me-2" *ngIf="viewProductTable" id="viewTables ">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="table-primary" id="table ">
          <th>Product</th>
          <th>Rate</th>
          <th>Discount</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Taxes</th>
          <th>TaxAmount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of ViewProductDetail">
          <td>{{ x.Name }}</td>
          <td>{{ x.rate }}</td>
          <td>{{ x.Discount_val }}</td>
          <td>{{ x.Quantity }}</td>
          <td>{{ x.amount }}</td>
          <td>{{ x.Taxes_val }}</td>
          <td>{{ x.TaxAmount_val }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ms-2 me-2" *ngIf="actionTable" id="actionTables ">
    <table class="table table-striped table-hover">
      <thead>
        <tr id="table " class="table-primary">
          <th>Acu Id</th>
          <th>Sch Id</th>
          <th>Date</th>
          <th>Time</th>
          <th>By</th>
          <th>Action Done</th>
          <th>Revised PDF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of ViewActionDetail">
          <td>{{ x.ScheduleActionId }}</td>
          <td>{{ x.SeqId }}</td>
          <td>{{ x.ActionStartDate }}</td>
          <td>{{ x.ActionStartTime }}</td>
          <td>{{ x.username }}</td>
          <td>{{ x.Taxes_val }}</td>
          <td>{{ x.TaxAmount_val }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ms-2 me-2" *ngIf="viewNoteTable" id="noteTables ">
    <app-note></app-note>
  </div>
</div>