th {
    height: 30px;
    text-align: center;
}

td {
    font-size: 13px;
}

.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;

}

.standard-color-modal{
  background-color: #dcebdc;
}
