<div class="modal-header bg-info text-white text-center ">


    <h3>Search</h3>

    <button type="button" mat-dialog-close class="btn-close "></button>

</div>

<div class="row">
    <div class="col ">
        <h1>Company</h1>
        <div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Company</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Associat Company</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Parent Company</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Company Owner </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Select Industy Type</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Select Relationship </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Area </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">City </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> State</label>
            </div>
        </div>
    </div>
    <div class="col ">
        <h1>Product</h1>
        <div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Product</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">  Category  </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Group</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Manufacture</label>
            </div>
        </div>
    </div>
    <div class="col ">
        <h1>Entity Wise
        </h1>
        <div *ngFor="let x of labelData">
            <div class="form-field">

                <input class="input-text" id="{{x.ID}}" type="{{x.Type}}" name=" ">
                <label for="" class="labels"> {{x.Label}} </label>
            </div>

        </div>

    </div>

    <div class="col">
        <h1>Date</h1>
        <div>
            <div class="form-field">
                <select class="input-select" name="selectTyoe">
                    <option value="">Select Format</option>
             </select>
                <label for="selectTyoe" class="labels">Select Date Type </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="date" name=" ">
                <label for=" " class="labels">From </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="date" name=" ">
                <label for=" " class="labels">To </label>
            </div>

        </div>
    </div>
</div>
<button mat-raised-button color="primary">Search</button>
<button mat-raised-button color="primary">Export Excel</button>