<div class="modal-header bg-info text-white text-center ">


    <h3>Search</h3>

    <button type="button" mat-dialog-close class="btn-close "></button>

</div>

<div class="row">
    <div class="col ">
        <h1>Company</h1>
        <div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Company</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Associat Company</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Parent Company</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Company Owner </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Select Industy Type</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Select Relationship </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Area </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">City </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> State</label>
            </div>
        </div>
    </div>
    <div class="col ">
        <h1>Product</h1>
        <div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Product</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">  Category  </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> Group</label>
            </div>
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels">Manufacture</label>
            </div>
        </div>
    </div>
    <div class="col ">
        <h1>Entity Wise
        </h1>
        <div>
            <!-- 1st row start here -->
            <div class="form-field">
                <input class="input-text" type="text" name=" ">
                <label for=" " class="labels"> LeadId</label>
                <!-- 1st row end here -->
                <!-- 2nd row start here -->
                <div class="form-field">
                    <select class="input-select" name="Format">
                        <option value="">Select Format</option>
                 </select>
                    <label for=" " class="labels">Select Status</label>
                </div>
                <!-- 2nd row end here -->
                <!-- 3rd row start here -->
                <div class="form-field">
                    <select class="input-select" name="Format">
                        <option value="">Select Format</option>
                 </select>
                    <label for=" " class="labels">Select Source </label>
                </div>
                <!-- 3rd row end here -->
                <!-- 4th row start here -->
                <div class="form-field">
                    <input class="input-text" type="text" name=" ">
                    <label for=" " class="labels">Select Stage  </label>
                </div>
                <!-- 4th row end here -->
                <!-- 5th row start here -->
                <div class="form-field">
                    <input class="input-text" type="text" name=" ">
                    <label for=" " class="labels"> Select Tag</label>
                </div>
                <!-- 5th row end here -->
                <!-- 6th row start here -->
                <div class="form-field">
                    <input class="input-text" type="text" name=" ">
                    <label for=" " class="labels"> Owner</label>
                </div>
                <!-- 6th row end here -->
                <!-- 7th row start here -->
                <div class="form-field">
                    <input class="input-text" type="text" name=" ">
                    <label for=" " class="labels">Actor</label>
                </div>
                <!-- 7th row end here -->
                <!-- 8th row start here -->
                <div class="form-field">
                    <input class="input-text" type="text" name=" ">
                    <label for=" " class="labels">Select Branch </label>
                </div>
                <!-- 8th row end here -->
                <!-- 8th row start here -->
                <div class="form-field">
                    <input class="input-text" type="text" name=" ">
                    <label for=" " class="labels">Select Branch </label>
                </div>
                <!-- 8th row end here -->
            </div>
        </div>
    </div>
    <div class="col">
        <h1>Date</h1>
        <div>
            <div class="form-field">
                <select class="input-select" name="selectTyoe">
                    <option value="">Select Format</option>
             </select>
                <label for="selectTyoe" class="labels">Select Date Type </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="date" name=" ">
                <label for=" " class="labels">From </label>
            </div>
            <div class="form-field">
                <input class="input-text" type="date" name=" ">
                <label for=" " class="labels">To </label>
            </div>

        </div>
    </div>
</div>
<button mat-raised-button color="primary">Search</button>
<button mat-raised-button color="primary">Export Excel</button>