<div class="ms-2 me-2" id="viewTables">
    <table class="table table-striped">
        <tr class="table-primary" id="table">
            <th>Product</th>
            <th>Rate</th>
            <th>Discount</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Taxes</th>
            <th>TaxAmount</th>
        </tr>

        <tr *ngFor="let x of productdata">
            <td>{{ x.Name }}</td>
            <td>{{ x.rate }}</td>
            <td>{{ x.Discount_val }}</td>
            <td>{{ x.Quantity }}</td>
            <td>{{ x.amount }}</td>
            <td>{{ x.Taxes_val }}</td>
            <td>{{ x.TaxAmount_val }}</td>
        </tr>
    </table>
</div>