.example-full-width {
  width: 100%;
}
.contact_form {
  min-height: 400px;
  width: 300px;
}

.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;
}

.standard-color-modal{
  background-color: #dcebdc;
}
