<div class="modal-content">

    <!-- <div class="modal-header">

        <button mat-raised-button mat-dialog-close>Cancel</button>
    </div> -->

    <div class="containt-Body">
        <!-- *****left side contain start here************ -->
        <div class="col-sm-3   email-box">
            <!---************** dropDown list section start here ********-->
            <div class="check-form-field  ">
                <select class="input-text" id=" Format" name=" Format">
                    <option *ngFor="let x of pdfemailData2.slice(0,3)" value="{{x.key}} "> {{x.Value}}</option>
                    
                     
                </select>
                <label for="Format" class="label">Select Format :</label>
            </div>
            <div class="check-form-field ">
                <select class="input-text" id=" " name=" ">
                    <option *ngFor="let x of pdfemailData2.slice(3,5)" value="{{x.key}} "> {{x.Value}}</option>
                   
                </select>
                <label for=" " class="label"> Select Header / Footer</label>
            </div>
            <div class="check-form-field ">
                <select class="input-text" id=" " name=" ">
                    <option value="0">Select Bank</option>
                    <option *ngFor="let x of pdfemailData2.slice(5,18)" value="{{x.key}} "> {{x.Value}}</option>
                </select>
                <label for=" " class="label"> Select Bank</label>
            </div>
            <!---************** dropDown list  section start here ********-->

            <!---************** CheckBox section start here ********-->
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Select Bank</label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Hide Discount Column </label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Discount Rate  </label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Show Round of Total</label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Show Task</label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label"> Show Rubber Stamp</label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Show Product Remark</label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Show Product image</label>
            </div>
            <div class="form-field">
                <input type="checkbox" class="input-checkbox" name="" id="">
                <label for="" class="checkbox-label">Show Product Partcode </label>
            </div>
            <!---************** CheckBox section end here ********-->

            <!---************** link section start here ********-->
            <div>
                <a href="#" (click)="showPDF()"> View Quote</a>
            </div>
            <div>
                <a href="">Email Quote</a>
            </div>
            <div>
                <a href="">Send PDF On WhatsApp</a>
            </div>
            <div>
                <a href="">Term & Conditions</a>
            </div>
        </div>
        <!-- left side contain endhere -->
        <div class="col-sm-1">
            <div class="vl"></div>
        </div>

    </div>
    <div class="modal-footer">



    </div>
</div>