tbody tr td {
  text-align: left;
}

.dd {
  width: 40px;
}

.full-width {
  margin: 10px 0px 0px 10px;
  width: 200px;
}

.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;
}

.standard-color-modal {
  background-color: #dcebdc;
}
table {
  margin-top: 10px;
}
