<div class="noteBox">
  <div class="modal-heading standard-color-modal">
    <h2>Vouchar Detail</h2>
  </div>
  <div>
    <mat-form-field class="full-width">
      <mat-label>Enter Password for validate and Approve...</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <table class="table">
      <thead>
        <tr class="standard-color-modal">
          <th>Seq</th>
          <th>By</th>
          <th>On</th>
          <th>Head</th>
          <th>Entity</th>
          <th>Budget</th>
          <th>Exp.</th>
          <th>Appv Status</th>
          <th>Appv Amt</th>
          <th>Paid Amt</th>
          <th>Due Amt</th>
          <th>Paid Status</th>
          <th></th>
          <th>Appv Status</th>
          <th>Appv Amt</th>
          <th>Remark</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let vouchar of approvalData" class="table-light">
          <td>{{ vouchar.VoucherNo }}</td>
          <td>{{ vouchar.UpdatedBy }}</td>
          <td>{{ vouchar.UpdatedOn | date: "dd MMM yyyy" }}</td>
          <td>{{ vouchar.ExpenseTitle }}</td>
          <td>{{ vouchar.EntityName }}</td>
          <td>{{ vouchar.Budgeted }}</td>
          <td>{{ vouchar.ExpenseTitle }}</td>
          <td>{{ vouchar.ApprovalStatus }}</td>
          <td>{{ vouchar.ApprovedAmount }}</td>
          <td>{{ vouchar.ApprovedAmount }}</td>
          <td>{{ vouchar.PaidAmount }}</td>

          <td>{{ vouchar.DueAmount }}</td>
          <td><mat-icon> border_color</mat-icon></td>
          <td>
            <select class="dd" name="" id="">
              <option value="">Approved</option>
              <option value="">Not Approved</option>
            </select>
          </td>
          <td>
            <input
              type="number"
              class="input1"
              name=""
              id=""
              value="{{ vouchar.ApprovalStatus }}"
            />
          </td>
          <td><input type="text" class="input2" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
