textarea {
  width: 100%;
  resize: none;
  height: 80px;
}

.contain {
  height: 309px;
}

.chatCard {
  box-sizing: border-box;
  background-color: rgb(238, 209, 188);
  margin: 10px;
  padding: 10px;
}
.FormContain {
  margin: 0px 10px;
}
.full-width {
  width: 100%;
}
