<mat-stepper #stepper selectedIndex="1">
  <mat-step>
    <app-close-action
      *ngIf="closeAction"
      [EntityId]="EntityId"
      [entityname]="entityname"
      [newlyActionData]="newlyActionData"
      [getDefaultData]="getDefaultData"
    ></app-close-action>
  </mat-step>
  <mat-step>
    <h1 class="heading">
      What Is Your Interaction
      <!-- {{ getDefaultData.ScheduleActionId }} -->
    </h1>
    <form #action="ngForm" (submit)="ActionForm(action.value)">
      <div class="form-contain">
        <div class="SelectActionType-Checkbox">
          <mat-radio-group
            aria-label="Select-Action-Type"
            name="SelectActionType"
            [(ngModel)]="SelectActionType"
            (ngModelChange)="updateOptionalLabel()"
          >
            <mat-radio-button
              color="primary"
              *ngFor="let SelectActionData of SelectActionData"
              [value]="SelectActionData.Id"
              name="{{ SelectActionData.Name }}"
              [checked]="SelectActionData.Id == DefaultSelect"
            >
              <!-- [checked]="SelectActionData.Id == DefaultSelect" -->
              {{ SelectActionData.Name }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-tab-group mat-stretch-tabs class=" " [(selectedIndex)]="TabIndex" class="connent_And_not_contactable">
          <mat-tab label="Connected">
            <div class="row contain">
              <div class="col-lg-6">
                <mat-form-field class="input-width">
                  <mat-label>Activity Type</mat-label>

                  <mat-select name="ActivityType" ngModel>
                    <mat-option
                      *ngFor="let actionValue of activitydata"
                      value="{{ actionValue.Id }}"
                    >
                      {{ actionValue.Name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="input-width">
                  <mat-label>Move To Stage</mat-label>

                  <mat-select name="MoveTostage" ngModel>
                    <mat-option
                      *ngFor="let stageValue of moveStageData"
                      value="{{ stageValue.Id }}"
                    >
                      {{ stageValue.Name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-12">
                <mat-form-field class="input-width">
                  <mat-label>Discussion / Work Done</mat-label>
                  <textarea matInput name="Discussion" ngModel></textarea>
                </mat-form-field>
              </div>

              <div class="row col-lg-6">
                <div class="col-lg-7">
                  <mat-form-field class="input-width">
                    <mat-label>Form Date Time</mat-label>
                    <input
                      matInput
                      [matDatepicker]="ActionStartDate"
                      name="actionStartDate"
                      [(ngModel)]="actionStartDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="ActionStartDate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #ActionStartDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-5">
                  <mat-form-field class="input-width">
                    <input
                      matInput
                      type="time"
                      name="ActionStartTime"
                      ngModel
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row col-lg-6">
                <div class="col-lg-7">
                  <mat-form-field class="input-width">
                    <mat-label>To Date Time</mat-label>
                    <input
                      matInput
                      [matDatepicker]="ActionEndDate"
                      name="actionEndDate"
                      [(ngModel)]="actionEndDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="ActionEndDate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #ActionEndDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-5">
                  <mat-form-field class="input-width">
                    <input matInput type="time" name="ActionEndTime" ngModel />
                  </mat-form-field>
                </div>
              </div>

              <div class="col-lg-10">
                <mat-form-field class="input-width">
                  <mat-label>Coustomer Contact Name</mat-label>

                  <mat-select name="CoustomerContactName" ngModel>
                    <mat-option
                      *ngFor="let contactlist of contactlistData"
                      value="{{ contactlist.Id }}"
                    >
                      {{ contactlist.Name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-2">
                <mat-checkbox>Other</mat-checkbox>
              </div>

              <div class="col-lg-12">
                <mat-form-field class="input-width">
                  <mat-label>Activity By</mat-label>
                  <mat-select name="ActivityBy" ngModel>
                    <mat-option
                      *ngFor="let user of activityByData"
                      value="{{ user.UserId }}"
                    >
                      {{ user.UserName }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-12 row">
                <div class="col-lg-4">
                  <mat-form-field class="input-width">
                    <mat-label>Travel Time</mat-label>
                    <input matInput name="TravelTime" ngModel />
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="input-width">
                    <mat-label>Travel Cost</mat-label>
                    <input matInput name="TravelCost" ngModel />
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="input-width">
                    <mat-label>Distance</mat-label>
                    <input matInput name="Distance" ngModel />
                  </mat-form-field>
                </div>
                <div class="row col-lg-12" *ngIf="emailReport">
                  <div class="col-lg-4">
                    <mat-label>Email Report</mat-label>

                    <mat-checkbox class="pe-2" name="Client" ngModel
                      >Client</mat-checkbox
                    >
                    <mat-checkbox name="Owner" ngModel>Owner</mat-checkbox>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field class="input-width">
                      <mat-label>DCR No.</mat-label>
                      <input matInput name="DCRNO" ngModel />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field class="input-width">
                      <mat-label>Other Cost</mat-label>
                      <input matInput name="OtherCost" ngModel />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Not Contactable">
            <div class="container">
              <div class="row">
                <div class="not-Connect-Checkbox ">
                  <mat-radio-group class="row">
                    <mat-radio-button
                      color="primary"
                      class="col-lg-5"
                      *ngFor="let notContactableData of notContactableData"
                      [value]="notContactableData.Id"
                      name="{{ notContactableData.Name }}"
                    >
                      {{ notContactableData.Name }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="col">
                  <mat-form-field class="input-width">
                    <mat-label>Call Back In</mat-label>
                    <input matInput name="CallBackIn" ngModel />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="input-width">
                    <mat-label></mat-label>
                    <input matInput />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div class="row">
          <button
            class="col"
            mat-stroked-button
            matStepperPrevious
            (click)="CloseLead()"
            color="warn"
          >
            Close Lead
          </button>

          <button class="col" mat-stroked-button color="accent">
            Convert To Lead
          </button>

          <button
            (click)="NextAction()"
            class="col"
            matStepperNext
            mat-stroked-button
            color="primary"
            type="submit"
          >
            Next Action
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <app-next-action
      *ngIf="nextAction"
      [EntityId]="EntityId"
      [entityname]="entityname"
      [newlyActionData]="newlyActionData"
      [getDefaultData]="getDefaultData"
    ></app-next-action>
  </mat-step>
</mat-stepper>
