<div class="noteBox">
  <!-- <div class="modal-header bg-primary text-white text-center">
    <div class="col-lg-6">
      <div class="text-start">
        <div>{{ EntityName }} ID : {{ Entityid }}</div>
      </div>
    </div>
     id and title section --
    <div class="col-lg-5 text-end">
      <div class="row">
        <h3>{{ companyName }}</h3>
      </div>
    </div>
    <div class="col-lg-1 text-end">
      <button type="button" mat-dialog-close class="btn-close"></button>
    </div>
  </div> -->

  <div class="modal-body">
    <table id="noteTable" class="table ">
      <thead class="notes table_heading">
        <tr>
          <th class="chatHeadingSize">Added By</th>
          <th class="chatHeadingSize">On Date</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of noteData">
          <td>{{ note.UpdatedBy }}</td>
          <td>{{ note.Fromdate }}</td>
          <td>{{ note.Description }}</td>
        </tr>
      </tbody>
    </table>

    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        [value]="description"
        #Description
        style="height: 100px"
      ></textarea>
      <label for="Textarea">Notes</label>
    </div>
  </div>
  <div class="modal-footer">
    <input
      type="submit"
      (click)="saveNote(Description.value)"
      class="btn btn-secondary"
      value="Save"
    />
  </div>
</div>
