<div class="modal-container">
  <div class="standard-color-modal modal-heading">
    <h3>Search</h3>
  </div>

  <div class="row filterSearchContain">
    <div class="col">
      <h1>Company</h1>
      <div>
        <mat-form-field class="input-width">
          <mat-label>Company</mat-label>
          <input matInput name="Company " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Associat Company</mat-label>
          <input matInput name="AssociatCompany " />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Parent Company</mat-label>
          <input matInput name="ParentCompany " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Company Owner</mat-label>
          <input matInput name="CompanyOwner" />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Industy Typer</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(0, 17)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Relationship </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(17, 24)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Area </mat-label>
          <input matInput name="Area " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>City </mat-label>
          <input matInput name="City " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>State </mat-label>
          <input matInput name="State " />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <h1>Product</h1>
      <div>
        <mat-form-field class="input-width">
          <mat-label>Product</mat-label>
          <input matInput name="Product " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Category</mat-label>
          <input matInput name="Category" />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Group</mat-label>
          <input matInput name="Group " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Manufacture</mat-label>
          <input matInput name="Manufacture " />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <h1>Entity Wise</h1>
      <div *ngIf="prospect">
        <mat-form-field class="input-width">
          <mat-label>Prospect ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Source </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(39, 59)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(59, 66)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Allocated To </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Stage</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Activity </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="lead">
        <mat-form-field class="input-width">
          <mat-label>Lead ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(92, 98)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Source </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(72, 92)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Stage</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(98, 107)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Branch</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(107, 129)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="so">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(129, 135)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select tag </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Billing Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(135, 138)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Approve Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(138, 141)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Installed No</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(141, 144)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>PO No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Branch</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(144, 166)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Activity</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(166, 174)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="mo">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(174, 192)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Docket No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>TRansport Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="mi">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MI ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(192, 204)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Docket No</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>TRansport Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="po">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MI ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(204, 208)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="invoice">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Invoice ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Invoice No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(223, 227)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="pi">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MI ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO Bill No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO Invoice No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(227, 230)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Approval Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(231, 234)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO Number</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Invoice Type</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Mat Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(234, 246)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="amc">
        <mat-form-field class="input-width">
          <mat-label>Active </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Branch</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Product Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(288, 293)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Bill Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(293, 298)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Install No. </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="work">
        <mat-form-field class="input-width">
          <mat-label>Work Id </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(303, 312)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Work Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(312, 316)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Work Level</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(316, 321)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Priority </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(321, 324)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Work Source </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(324, 326)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Entity </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Entity ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Project / Ref </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="repair">
        <mat-form-field class="input-width">
          <mat-label>Repair Id </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(208, 216)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Repair Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(216, 223)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="vouchar">
        <mat-form-field class="input-width">
          <mat-label>Vouchar NO </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(246, 249)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Expense Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(249, 264)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="ticket">
        <mat-form-field class="input-width">
          <mat-label>Ticket ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(264, 273)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(249, 264)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Select Branch </mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Select Problem </mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Select Problem Type </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(273, 281)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Ticket Type </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(281, 288)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col">
      <h1>Date</h1>
      <div>
        <mat-form-field class="input-width">
          <mat-label>Select Date Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData.slice(24, 36)"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="From" />
          <mat-datepicker-toggle matSuffix [for]="From"></mat-datepicker-toggle>
          <mat-datepicker #From></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="To" />
          <mat-datepicker-toggle matSuffix [for]="To"></mat-datepicker-toggle>
          <mat-datepicker #To></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Search</button>
      <button mat-raised-button color="primary">Export Excel</button>
    </div>
  </div>
</div>
