.containt-Body {
  display: flex;
  background-color: #f3f3ec;
  height: 100vh;
}

/* left contain  */

.email-box {
  margin: 5px;
}

/* *********Floating label ***********/

/* checbox Css Class */

.checkbox-label {
  color: grey;
}

/* textArea file input Css Class */

.form-field {
  position: relative;
  margin: 10px 0 15px 0;
}

.selectWidth {
  width: 100%;
}

.link {
  color: blue;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* vertical line */

.vl {
  border-left: 2px solid #333;
  height: 100%;
}

.Description {
  width: 100%;
  resize: none;
}

/* view Email Quote labels */
