<div class="modal-content">
  <div class="containt-Body">
    <!-- *****left side contain start here************ -->
    <div class="row col email-box">
      <div class="col">
        <!---************** dropDown list section start here ********-->
        <mat-form-field class="selectWidth">
          <mat-label>Select Format :</mat-label>
          <mat-select
            [(ngModel)]="SelectFormat"
            (ngModelChange)="selectFormat()"
          >
            <mat-option
              *ngFor="let x of emailQuoteData.slice(0, 3)"
              [value]="x.Key"
            >
              {{ x.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="selectWidth">
          <mat-label>Select Header / Footer</mat-label>
          <mat-select
            [(ngModel)]="SelectHeaderFooter"
            (ngModelChange)="selectHeader()"
          >
            <mat-option
              *ngFor="let x of emailQuoteData.slice(3, 5)"
              [value]="x.Key"
            >
              {{ x.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="selectWidth">
          <mat-label>Select Bank</mat-label>
          <mat-select [(ngModel)]="SelectBank" (ngModelChange)="selectBank()">
            <mat-option
              *ngFor="let x of emailQuoteData.slice(5, 18)"
              [value]="x.Key"
            >
              {{ x.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!---************** dropDown list  section start here ********-->

        <!---************** CheckBox section start here ********-->
        <section class="form-field">
          <mat-checkbox class="checkbox-label">Select Bank</mat-checkbox>
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label"
            >Hide Discount Column</mat-checkbox
          >
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label">Discount Rate</mat-checkbox>
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label"
            >Show Round of Total</mat-checkbox
          >
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label">Show Task</mat-checkbox>
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label"> Show Rubber Stamp</mat-checkbox>
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label"
            >Show Product Remark</mat-checkbox
          >
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label">Show Product image</mat-checkbox>
        </section>
        <section class="form-field">
          <mat-checkbox class="checkbox-label"
            >Show Product Partcode
          </mat-checkbox>
        </section>

        <!---************** CheckBox section end here ********-->

        <!---************** link section start here ********-->
        <div>
          <a class="link" (click)="showPDF()"> View Quote</a>
        </div>
        <div>
          <a class="link" (click)="EmailQuote()">Email Quote</a>
        </div>
        <div>
          <a class="link">Send PDF On WhatsApp</a>
        </div>
        <div>
          <a class="link" (click)="TermsCondition()">Term & Conditions</a>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="vl"></div>
      </div>
    </div>
    <!-- left side contain end here -->

    <div class="col p-3">
      <div *ngIf="viewPDF">
        <ngx-extended-pdf-viewer
          [src]="'assets/example.pdf'"
          [useBrowserLocale]="true"
          [textLayer]="true"
          [showHandToolButton]="true"
          [showPresentationModeButton]="true"
          [showDownloadButton]="false"
        ></ngx-extended-pdf-viewer>
      </div>

      <div *ngIf="emailQuote">
        <form #emailData="ngForm" (ngSubmit)="onClickSubmit(emailData.value)">
          <div *ngFor="let x of ShowEmailQuoteData">
            <mat-form-field class="selectWidth">
              <mat-label>To :</mat-label>
              <input
                matInput
                type="email"
                name="EmailTo"
                id=""
                [(ngModel)]="x.EmailTo"
              />
            </mat-form-field>
            <mat-form-field class="selectWidth">
              <mat-label>CC :</mat-label>
              <input
                matInput
                type="email"
                type="email"
                name="CC"
                id=""
                [(ngModel)]="x.CC"
              />
            </mat-form-field>
            <mat-form-field class="selectWidth">
              <mat-label>BCC :</mat-label>
              <input
                matInput
                type="email"
                type="email"
                name="BCC"
                id=""
                [(ngModel)]="x.BCC"
              />
            </mat-form-field>
            <mat-form-field class="selectWidth">
              <mat-label>Subject :</mat-label>
              <input
                matInput
                type="email"
                name="Subject"
                id=""
                [(ngModel)]="x.EmailSubject"
              />
            </mat-form-field>
            <mat-form-field class="selectWidth">
              Attachment :
              <span class="text-primary ps-2"> {{ x.EmailFileName }}</span>
            </mat-form-field>
            <mat-form-field class="selectWidth">
              <mat-label>Another :</mat-label>
              <input matInput name="Another" />
            </mat-form-field>
            <mat-form-field class="selectWidth">
              <mat-label>Attachment :</mat-label>
              <span class="text-danger">
                Select Multiple files from Same folder</span
              >
            </mat-form-field>
            <mat-form-field class="selectWidth">
              <mat-label>Message :</mat-label>
              <angular-editor
                name="Message"
                id=""
                type="text"
                class="Description"
                [(ngModel)]="x.EmailBody"
              ></angular-editor>
            </mat-form-field>
          </div>
          <button type="submit" value="submit" class="btn btn-outline-info">
            Send Email
          </button>
          <button
            mat-stroked-button
            type="submit"
            value="submit"
            color="primary"
          >
            Send Email
          </button>
        </form>
      </div>

      <div *ngIf="termsCondition">
        <mat-form-field class="selectWidth">
          <mat-label>Select Format :</mat-label>
          <mat-select
            [(ngModel)]="selectemailQuoteFormat"
            (ngModelChange)="selectDropDown()"
          >
            <mat-option
              *ngFor="let emailQuote of emailQuoteData.slice(0, 3)"
              [value]="emailQuote.Key"
            >
              {{ emailQuote.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="selectWidth">
          <mat-label>Select Term Set :</mat-label>
          <mat-select
            [(ngModel)]="SelecteeLeadTermsSetID"
            (ngModelChange)="selectTermSet()"
          >
            <mat-option>Select Term Set</mat-option>
            <mat-option
              [value]="termscondition.eLeadTermsSetID"
              *ngFor="let termscondition of termsconditionData"
            >
              {{ termscondition.eLeadTermsSetName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form
          #termsCondition="ngForm"
          (ngSubmit)="onClickSave(termsCondition.value)"
        >
          <div *ngIf="termSection">
            <mat-form-field class="selectWidth" *ngFor="let x of termSetData">
              <mat-label>{{ x.eLeadTermsName }}</mat-label>
              <input
                matInput
                [(ngModel)]="x.eLeadTermsDetails"
                name="eLeadTermsDetails"
              />
            </mat-form-field>
          </div>
          <button mat-stroked-button type="submit" color="primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
