.main {
  padding-top: 100px;
  max-width: 500px;
}

form {
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 30px;
}

.bg {
  height: 100vh;
  background-image: url("/assets/img/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.full-width {
  width: 100%;
}
button {
  width: 60px;
}

h1 {
  height: 7vh;
  color: rgb(148, 43, 43);
  font-size: 78px;
}

h2 {
  margin: 36px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.a {
  text-decoration: none;
  color: white;
}

.a:hover {
  cursor: pointer;
  text-decoration: underline;
}
