<div class="modal-container">
  <div class="standard-color-modal modal-heading">
    <h3>Search</h3>
  </div>

  <div class="row filterSearchContain">
    <div class="col">
      <h1>Company</h1>
      <div>
        <mat-form-field class="input-width">
          <mat-label>Company</mat-label>
          <input matInput name="Company " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Associat Company</mat-label>
          <input matInput name="AssociatCompany " />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Parent Company</mat-label>
          <input matInput name="ParentCompany " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Company Owner</mat-label>
          <input matInput name="CompanyOwner" />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Industy Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let IndustyType of commanData | commanFilter: 'IndustoryType'
              "
              value="{{ IndustyType.Key }} "
              >{{ IndustyType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Relationship </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let Relationship of commanData | commanFilter: 'RelationType'
              "
              value="{{ Relationship.Key }} "
              >{{ Relationship.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Area </mat-label>
          <input matInput name="Area " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>City </mat-label>
          <input matInput name="City " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>State </mat-label>
          <input matInput name="State " />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <h1>Product</h1>
      <div>
        <mat-form-field class="input-width">
          <mat-label>Product</mat-label>
          <input matInput name="Product " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Category</mat-label>
          <input matInput name="Category" />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Group</mat-label>
          <input matInput name="Group " />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Manufacture</mat-label>
          <input matInput name="Manufacture " />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <h1>Entity Wise</h1>
      <div *ngIf="prospect">
        <mat-form-field class="input-width">
          <mat-label>Prospect ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let Status of commanData | commanFilter: 'ProsCreateStatus'
              "
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Source </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let sourceValue of commanData | commanFilter: 'LeadSource'
              "
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag </mat-label>
          <mat-select>
            <mat-option *ngFor="let Tag of commanData" value="{{ Tag.Key }} "
              >{{ Tag.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Allocated To </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Stage</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Stage of commanData | commanFilter: 'ProspectSatge'"
              value="{{ Stage.Key }} "
              >{{ Stage.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Activity </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Activity of commanData"
              value="{{ Activity.Key }} "
              >{{ Activity.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="lead">
        <mat-form-field class="input-width">
          <mat-label>Lead ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Status of commanData | commanFilter: 'LeadStauts'"
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Source </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let sourceValue of commanData | commanFilter: 'LeadSource'
              "
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Stage</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Stage of commanData | commanFilter: 'LeadStage'"
              value="{{ Stage.Key }} "
              >{{ Stage.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Branch</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Branch of commanData | commanFilter: 'Branch'"
              value="{{ Branch.Key }} "
              >{{ Branch.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="so">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Status of commanData | commanFilter: 'DeliveryStatus'"
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select tag </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Billing Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let BillingStatus of commanData
                  | commanFilter: 'Salesorderbillstatus'
              "
              value="{{ BillingStatus.Key }} "
              >{{ BillingStatus.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Approve Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let ApproveStatus of commanData | commanFilter: 'SOApproval'
              "
              value="{{ ApproveStatus.Key }} "
              >{{ ApproveStatus.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Installed Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let InstalledStatus of commanData
                  | commanFilter: 'InstallNewStatus'
              "
              value="{{ InstalledStatus.Key }} "
              >{{ InstalledStatus.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>PO No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Branch</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Branch of commanData | commanFilter: 'SoActivitytype'"
              value="{{ Branch.Key }} "
              >{{ Branch.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Activity</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Activity of commanData | commanFilter: 'Branch'"
              value="{{ Activity.Key }} "
              >{{ Activity.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="mo">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let Status of commanData | commanFilter: 'DCMatrialoutStatus'
              "
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Docket No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>TRansport Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="mi">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MI ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let sourceValue of commanData | commanFilter: 'DCMIStatus'
              "
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Docket No</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>TRansport Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="po">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MI ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let sourceValue of commanData | commanFilter: 'PoDelStatus'
              "
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="invoice">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Invoice ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Invoice No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Status of commanData | commanFilter: 'PaymentStatus'"
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="pi">
        <mat-form-field class="input-width">
          <mat-label>Sales Order ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>MI ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO ID</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO Bill No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO Invoice No</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let sourceValue of commanData | commanFilter: 'PaymentStatus'
              "
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <mat-option
            *ngFor="let sourceValue of commanData | commanFilter: 'Tag'"
            value="{{ sourceValue.Key }} "
            >{{ sourceValue.Value }}
          </mat-option>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Approval Status</mat-label>
          <mat-select>
            <mat-option *ngFor="" value=" "> </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>PO Number</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Invoice Type</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Mat Status</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="amc">
        <mat-form-field class="input-width">
          <mat-label>Active </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Branch</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Branch of commanData | commanFilter: 'Branch'"
              value="{{ Branch.Key }} "
              >{{ Branch.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Product Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let ProductType of commanData | commanFilter: 'ProductType'
              "
              value="{{ ProductType.Key }} "
              >{{ ProductType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Bill Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let BillType of commanData | commanFilter: 'periodicity'"
              value="{{ BillType.Key }} "
              >{{ BillType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Install No. </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="work">
        <mat-form-field class="input-width">
          <mat-label>Work Id </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Status of commanData | commanFilter: 'WorkStatus'"
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Work Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let WorkType of commanData | commanFilter: 'WorkType'"
              value="{{ WorkType.Key }} "
              >{{ WorkType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Work Level</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let WorkLevel of commanData | commanFilter: 'WorkLevel'"
              value="{{ WorkLevel.Key }} "
              >{{ WorkLevel.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Priority </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Priority of commanData | commanFilter: 'Priority'"
              value="{{ Priority.Key }} "
              >{{ Priority.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Work Source </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let WorkSource of commanData | commanFilter: 'WorkSource'"
              value="{{ WorkSource.Key }} "
              >{{ WorkSource.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Entity </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Entity ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Project / Ref </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="repair">
        <mat-form-field class="input-width">
          <mat-label>Repair Id </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Status of commanData | commanFilter: 'RepairStatus'"
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Repair Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let RepairType of commanData | commanFilter: 'RepairType'"
              value="{{ RepairType.Key }} "
              >{{ RepairType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="vouchar">
        <mat-form-field class="input-width">
          <mat-label>Vouchar NO </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sourceValue of commanData"
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Expense Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let ExpenseType of commanData | commanFilter: 'ExpensesType'
              "
              value="{{ ExpenseType.Key }} "
              >{{ ExpenseType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div *ngIf="ticket">
        <mat-form-field class="input-width">
          <mat-label>Ticket ID </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Status </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Status of commanData | commanFilter: 'TicketStatus'"
              value="{{ Status.Key }} "
              >{{ Status.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Tag </mat-label>
          <mat-select>
            <mat-option value="  "> </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Owner </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Actor </mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Select Branch </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Branch of commanData | commanFilter: 'Branch'"
              value="{{ Branch.Key }} "
              >{{ Branch.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Select Problem </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let Problem of commanData | commanFilter: 'Problem'"
              value="{{ Problem.Key }} "
              >{{ Problem.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>Select Problem Type </mat-label>
          <mat-select>
            <mat-option
              *ngFor="
                let sourceValue of commanData | commanFilter: 'TicketWorkType'
              "
              value="{{ sourceValue.Key }} "
              >{{ sourceValue.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Select Ticket Type </mat-label>
          <mat-select>
            <mat-option
              *ngFor="let TicketType of commanData | commanFilter: 'TicketType'"
              value="{{ TicketType.Key }} "
              >{{ TicketType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col">
      <h1>Date</h1>
      <div>
        <mat-form-field class="input-width">
          <mat-label>Select Date Type</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let DateType of commanData | commanFilter: 'SearchDate'"
              value="{{ DateType.Key }} "
              >{{ DateType.Value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-width">
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="From" />
          <mat-datepicker-toggle matSuffix [for]="From"></mat-datepicker-toggle>
          <mat-datepicker #From></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="To" />
          <mat-datepicker-toggle matSuffix [for]="To"></mat-datepicker-toggle>
          <mat-datepicker #To></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Search</button>
      <button mat-raised-button color="primary">Export Excel</button>
    </div>
  </div>
</div>
