button {
  margin: 0px 9px;
}
.filterSearchContain {
  margin: 0px 10px;
}
.input-width {
  width: 100%;
}
.standard-color-modal {
  background-color: #dcebdc;
}
.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;
}
.modal-container {
  height: 650px;
}
.filterSearchContain {
  margin: 35px;
}
