.chart {
    display: block;
    width: 400px;
    height: 400px;
}

.contain {
    margin-left: 6%;
}

button {
    margin: auto;
    height: 50px;
}

mat-form-field {
    margin: 0px 10px;
}

.option {
    display: flex;
    margin: 20px 0px 10px 0px;
    height: 54px;
}

.a {
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
}