<div class="contain">
    <div class="row">
        <div class="col-lg-6">
            <div class="option">
                <select name="singleSelect" id="singleSelect">
          <option id="{{ D.id }}" *ngFor="let D of ddData" [value]="D.key">
            {{ D.value }}
          </option>
        </select>

                <span>Activity Report :</span>
                <input type="date" name="From" [(ngModel)]="From" />
                <input type="date" name="To" [(ngModel)]="To" />
                <button type="submit" (click)="submitValue()">Go</button>
            </div>
            <div>
                <db-angular-pivot-table [source]="AllData" [configs]='tableConfig'></db-angular-pivot-table>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="display: block; width: 400px">
                <div style="display: block">
                    <canvas baseChart [type]="'pie'" [datasets]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions" [legend]="pieChartLegend"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>