<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="/admin/page/Lead" class="companyLogo">
    <img src="assets/img/FFHFinalLogo.png" height="45" alt="" />
  </a>

  <div class="spacer"></div>
  <img src="assets/img/NoImage.png" width="50" [height]="40" alt="" />
  <a class=" " id="ffh">
    {{ companyName }}
  </a>

  <li class="header-link" [matMenuTriggerFor]="list" id="">
    <i class="fas fa-paperclip"> </i>
    <mat-menu #list="matMenu">
      <button mat-menu-item class="matmenuList">My list</button>
      <hr class="dropdown-divider" />

      <a class="dropdown-list" mat-menu-item>My User</a>
      <a class="dropdown-list" mat-menu-item>User Rights</a>
      <a class="dropdown-list" mat-menu-item>My Company</a>
      <a class="dropdown-list" mat-menu-item>My Config</a>
      <a class="dropdown-list" mat-menu-item>My Alert</a>
      <a class="dropdown-list" mat-menu-item>My Branches</a>

      <a class="dropdown-list" mat-menu-item>My Report</a>
      <a class="dropdown-list" mat-menu-item>User Report</a>
      <a class="dropdown-list" mat-menu-item>Location Detail</a>
    </mat-menu>
  </li>
  <li class="header-link" [matMenuTriggerFor]="QuickLinks" id="">
    <i class="fas fa-barcode"></i>
    <mat-menu #QuickLinks="matMenu">
      <button mat-menu-item class="matmenuList">Quick Links</button>
      <hr class="dropdown-divider" />

      <a class="dropdown-list" mat-menu-item>Create Prospect</a>
      <a class="dropdown-list" mat-menu-item>Create Lead</a>
      <a class="dropdown-list" mat-menu-item>Create SO</a>
      <a class="dropdown-list" mat-menu-item>Create MO</a>
      <a class="dropdown-list" mat-menu-item>Create MI</a>
      <a class="dropdown-list" mat-menu-item>Create Bill</a>
      <a class="dropdown-list" mat-menu-item>Create Ticket</a>
      <a class="dropdown-list" mat-menu-item>Install Product</a>
      <a class="dropdown-list" mat-menu-item>Create PO</a>
      <a class="dropdown-list" mat-menu-item>Create POBill</a>
      <a class="dropdown-list" mat-menu-item>Journal Vouchar</a>
      <a class="dropdown-list" mat-menu-item>Memo</a>
      <a class="dropdown-list" mat-menu-item>Payment Received</a>
      <a class="dropdown-list" mat-menu-item>Payment Made</a>
      <a class="dropdown-list" mat-menu-item>Stock Journal </a>
    </mat-menu>
  </li>
  <li class="header-link" [matMenuTriggerFor]="masters" id="">
    <i class="fas fa-search"></i>
    <mat-menu #masters="matMenu">
      <button mat-menu-item class="matmenuList">Masters</button>
      <hr class="dropdown-divider" />

      <a class="dropdown-list" mat-menu-item>Company</a>
      <a class="dropdown-list" mat-menu-item>Contact</a>
      <a class="dropdown-list" mat-menu-item>Product</a>
      <a class="dropdown-list" mat-menu-item>Ledger</a>
    </mat-menu>
  </li>
  <li class="header-link" id="">
    <i class="far fa-envelope"></i>
  </li>
  <li class="header-link" [matMenuTriggerFor]="Notification">
    <i
      class="far fa-bell"
      matBadge="{{ CountData?.TotalApprovalCount }}"
      matBadgeColor="warn"
      matBadgeOverlap="false"
    ></i>
    <mat-menu #Notification="matMenu">
      <button mat-menu-item class="matmenuList">Approval Notification</button>
      <hr class="dropdown-divider" />

      <a
        class="dropdown-list"
        mat-menu-item
        (click)="
          approvalNotificationList(CountData?.SOApprovalCount, 'SalesOrderLIst')
        "
        >Sales Order({{ CountData?.SOApprovalCount }})</a
      >
      <a
        class="dropdown-list"
        (click)="
          approvalNotificationList(CountData?.PayableApprovalCount, 'Payable')
        "
        mat-menu-item
        >Payble({{ CountData?.PayableApprovalCount }})</a
      >
      <a
        class="dropdown-list"
        (click)="
          approvalNotificationList(CountData?.VoucherApprovalCount, 'Voucher')
        "
        mat-menu-item
        >Vouchar({{ CountData?.VoucherApprovalCount }})</a
      >
    </mat-menu>
  </li>
  <li class="header-link" [matMenuTriggerFor]="user" id=" ">
    <i class="fas fa-user-circle"></i> {{ userName }}
    <mat-menu #user="matMenu">
      <a class="dropdown-list" mat-menu-item>Register Extension </a>
      <a class="dropdown-list" mat-menu-item>Change Pwd</a>
      <a class="dropdown-list" mat-menu-item>Upload</a>
      <hr class="dropdown-divider" />

      <a class="dropdown-list" mat-menu-item (click)="onSignOut()">Sign out</a>
    </mat-menu>
  </li>
  <span>
    <mat-toolbar class="themebutton">
      <mat-toolbar-row>
        <button
          mat-icon-button
          id="theme-selector"
          [mat-menu-trigger-for]="themeMenu"
          i18n-matTooltip="@@Select-a-theme"
          matTooltip="Select a theme!"
          tabindex="-1"
        >
          <mat-icon class="auto-flip">format_color_fill</mat-icon>
        </button>

        <mat-menu #themeMenu="matMenu">
          <mat-checkbox
            [checked]="isThemeDark"
            (click)="$event.stopPropagation()"
            (change)="toggleDarkness()"
            class="mat-menu-item theme-selector-is-dark"
            i18n="@@Dark"
            >Dark
          </mat-checkbox>

          <mat-grid-list cols="2" class="theme-selectors-container">
            <mat-grid-tile *ngFor="let theme of themes">
              <button
                mat-button
                class="theme-selector"
                (click)="$event.stopPropagation(); setTheme(theme)"
              >
                <div [attr.class]="theme + 'theme-primary center'">
                  <div [attr.class]="theme + 'theme-accent'"></div>
                  <div [attr.class]="theme + 'theme-warn'"></div>
                  <mat-icon
                    *ngIf="activeTheme === theme"
                    class="center theme-check"
                    >check</mat-icon
                  >
                </div>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </span>
</div>
