.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 600;
  z-index: 1100;
  position: fixed;
}

.header-link {
  margin: 0 16px;
  list-style: none;
}

#ffh {
  color: white;
  margin-right: 10px;
}

.companyLogo {
  padding-left: 83px;
}

i {
  font-size: 18px;
  color: white;
}

.dropdown-list {
  color: black;
  text-decoration: none;
}

.dropdown-list:hover {
  color: white;
  background-color: black;
}
