.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #b8e0d4;
  color: black;
  font-weight: 600;
  z-index: 100;
  position: fixed;
}
.mat-badge-medium .mat-badge-content {
  width: 32px !important;
  height: 21px !important;
  top: -16px !important;
  line-height: 22px;
}

.header-link {
  margin: 0 16px;
  list-style: none;
}
.matmenuList {
  background-color: #dcebdc;
}

#ffh {
  color: black;
  margin-right: 10px;
}

.companyLogo {
  padding-left: 83px;
}

i {
  font-size: 18px;
  color: black;
}

.dropdown-list {
  color: black;
  text-decoration: none;
}

.dropdown-list:hover {
  background: #b8e0d4;
}

.green {
  background-color: #b8e0d4;
}

.red {
  background-color: lightsalmon;
}

.themebutton {
  background-color: #b8e0d4;
}

/* this is for theme */

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

@mixin size($width, $height: null) {
  width: $width;
  height: if($height==null, $width, $height);
}

.theme-selectors-container {
  width: 190px;
  margin: 0 8px;
}

button.theme-selector {
  @include size(80px);
}

div.theme-primary {
  @include size(70px);
  border-radius: 50%;
}

div.theme-accent {
  @include size(25px);
  position: absolute;
  bottom: 0;
  left: 0;
}

div.theme-warn {
  @include size(15px);
  position: absolute;
  bottom: 7%;
  left: 20%;
  transform: rotate(45deg);
}

.theme-check {
  color: white;
  font-size: 3.2em;
}
.theme-selector-is-dark {
  font-weight: bold;
  font-size: 1.2em;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
