<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a href="/page/Lead" class="companyLogo">
        <img src="assets/img/FFHFinalLogo.png" height="45" alt="">
    </a>

    <div class="spacer"></div>
    <img src="assets/img/NoImage.png" width="50" [height]="40" alt="">
    <a class=" " href="#" id="ffh">
             {{companyName}}
          </a>

    <li class="header-link" [matMenuTriggerFor]="list" id="">
        <i class="fas fa-paperclip"> </i>
        <mat-menu #list="matMenu">
            <button mat-menu-item class="bg-dark text-white">My list</button>
            <hr class="dropdown-divider">

            <a class="dropdown-list" mat-menu-item href="#">My User</a>
            <a class="dropdown-list" mat-menu-item href="#">User Rights</a>
            <a class="dropdown-list" mat-menu-item href="#">My Company</a>
            <a class="dropdown-list" mat-menu-item href="#">My Config</a>
            <a class="dropdown-list" mat-menu-item href="#">My Alert</a>
            <a class="dropdown-list" mat-menu-item href="#">My Branches</a>

            <a class="dropdown-list" mat-menu-item href="#">My Report</a>
            <a class="dropdown-list" mat-menu-item href="#">User Report</a>
            <a class="dropdown-list" mat-menu-item href="#">Location Detail</a>
        </mat-menu>
    </li>
    <li class="header-link " [matMenuTriggerFor]="QuickLinks" id="">
        <i class="fas fa-barcode"></i>
        <mat-menu #QuickLinks="matMenu">
            <button mat-menu-item class="bg-dark text-white">Quick Links</button>
            <hr class="dropdown-divider">

            <a class="dropdown-list" mat-menu-item href="#">Create Prospect</a>
            <a class="dropdown-list" mat-menu-item href="#">Create Lead</a>
            <a class="dropdown-list" mat-menu-item href="#">Create SO</a>
            <a class="dropdown-list" mat-menu-item href="#">Create MO</a>
            <a class="dropdown-list" mat-menu-item href="#">Create MI</a>
            <a class="dropdown-list" mat-menu-item href="#">Create Bill</a>
            <a class="dropdown-list" mat-menu-item href="#">Create Ticket</a>
            <a class="dropdown-list" mat-menu-item href="#">Install Product</a>
            <a class="dropdown-list" mat-menu-item href="#">Create PO</a>
            <a class="dropdown-list" mat-menu-item href="#">Create POBill</a>
            <a class="dropdown-list" mat-menu-item href="#">Journal Vouchar</a>
            <a class="dropdown-list" mat-menu-item href="#">Memo</a>
            <a class="dropdown-list" mat-menu-item href="#">Payment Received</a>
            <a class="dropdown-list" mat-menu-item href="#">Payment Made</a>
            <a class="dropdown-list" mat-menu-item href="#">Stock Journal </a>
        </mat-menu>
    </li>
    <li class=" header-link " [matMenuTriggerFor]="masters" id="">
        <i class="fas fa-search"></i>
        <mat-menu #masters="matMenu">
            <button mat-menu-item class="bg-dark text-white">Masters</button>
            <hr class="dropdown-divider">

            <a class="dropdown-list" mat-menu-item href="#">Company</a>
            <a class="dropdown-list" mat-menu-item href="#">Contact</a>
            <a class="dropdown-list" mat-menu-item href="#">Product</a>
            <a class="dropdown-list" mat-menu-item href="#">Ledger</a>
        </mat-menu>
    </li>
    <li href="#" class=" header-link " id="">
        <i class="far fa-envelope"></i>

    </li>
    <li href="#" class=" header-link " id="">
        <i class="far fa-bell"></i>

    </li>
    <li class=" header-link" [matMenuTriggerFor]="user" id=" ">

        <i class="fas fa-user-circle"></i> {{userId}}
        <mat-menu #user="matMenu">
            <a class="dropdown-list" mat-menu-item href="#">New project...</a>
            <a class="dropdown-list" mat-menu-item href="#">Settings</a>
            <a class="dropdown-list" mat-menu-item href="#">Profile</a>
            <hr class="dropdown-divider">

            <a class="dropdown-list" mat-menu-item (click)="onSignOut()">Sign out</a>
        </mat-menu>


    </li>
</div>