<header>
    <div class="px-3 py-2 bg-dark text-white">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start header-links">
            <div class="menu"><i class="fas fa-bars"></i></div>
            <a href="/" class="d-flex align-items-center ps-4 my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img src="assets/img/FFHFinalLogo.png" height="45" alt="">
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">

                <li>

                    <div class="dropdown">
                        <img src="assets/img/NoImage.png" width="50" [height]="40" alt="">
                        <a class=" link-dark  text-white text-decoration-none dropdown-toggle dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                FieldForceHelp
                            </a>

                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">

                            <li class="ps-2 bg-info text-white">My list</li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">My User</a></li>
                            <li><a class="dropdown-item" href="#">User Rights</a></li>
                            <li><a class="dropdown-item" href="#">My Company</a></li>
                            <li><a class="dropdown-item" href="#">My Config</a></li>
                            <li><a class="dropdown-item" href="#">My Alert</a></li>
                            <li><a class="dropdown-item" href="#">My Branches</a></li>

                            <li><a class="dropdown-item" href="#">My Report</a></li>
                            <li><a class="dropdown-item" href="#">User Report</a></li>
                            <li><a class="dropdown-item" href="#">Location Detail</a></li>
                        </ul>

                    </div>
                </li>

                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark  text-white text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-paperclip"></i>
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser2">
                            <li class="ps-2 bg-info text-white"> Quick Links </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Create Prospect</a></li>
                            <li><a class="dropdown-item" href="#">Create Lead</a></li>
                            <li><a class="dropdown-item" href="#">Create SO</a></li>
                            <li><a class="dropdown-item" href="#">Create MO</a></li>
                            <li><a class="dropdown-item" href="#">Create MI</a></li>
                            <li><a class="dropdown-item" href="#">Create Bill</a></li>
                            <li><a class="dropdown-item" href="#">Create Ticket</a></li>
                            <li><a class="dropdown-item" href="#">Install Product</a></li>
                            <li><a class="dropdown-item" href="#">Create PO</a></li>
                            <li><a class="dropdown-item" href="#">Create POBill</a></li>
                            <li><a class="dropdown-item" href="#">Journal Vouchar</a></li>
                            <li><a class="dropdown-item" href="#">Memo</a></li>
                            <li><a class="dropdown-item" href="#">Payment Received</a></li>
                            <li><a class="dropdown-item" href="#">Payment Made</a></li>
                            <li><a class="dropdown-item" href="#">Stock Journal </a></li>


                        </ul>
                    </div>

                </li>

                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="   text-white text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <span><i class="fas fa-barcode"></i> </span>
                        </a>
                        <ul class="dropdown-menu text-small listScroll" aria-labelledby="dropdownUser2">

                            <li class="ps-2 bg-info text-white"> Masters </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Company</a></li>
                            <li><a class="dropdown-item" href="#">Contact</a></li>
                            <li><a class="dropdown-item" href="#">Product</a></li>
                            <li><a class="dropdown-item" href="#">Ledger</a></li>
                        </ul>
                    </div>

                </li>

                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark  text-white text-decoration-none  " id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-search"></i>
                        </a>


                    </div>

                </li>

                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark  text-white text-decoration-none  " id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="far fa-envelope"></i>
                        </a>

                    </div>

                </li>
                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark  text-white text-decoration-none  " id="dropdownUser2">
                            <i class="far fa-bell"></i>
                        </a>

                    </div>

                </li>
                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark  text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-user-circle user'></i>
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</header>