<!-- <div id="DashBoard">
  <div class="row g-0">
    <div class="text-center col-lg-6">
      <h6>Dashboard</h6>
      <table
        class="table table-striped table-hover shadow-lg bg-body rounded Dash-table"
      >
        <tr>
          <th class="table-primary">
            {{ x.columnName }}
          </th>
        </tr>
        <tr>
          <td class="text-start" ng-model="user">{{ x.user }}</td>
          <td>
            <div>{{  }}</div>
            <div>{{  }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <span>
        <h6>From</h6>
        <input class="height" type="date" ng-model="Fromdate" id="Fromdate" />
        <h6>To</h6>
        <input class="height" type="date" ng-model="Todate" id="Todate" />
      </span>

      <table
        class="table table-striped table-hover shadow-lg bg-body rounded Dash-table"
      >
        <tr>
          <th class="table-primary">
            {{ x.columnName }}
          </th>
        </tr>

        <tr>
          <td>
            <div>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#dashModel"
                ng-click="showDashList(x.count1,x. value1)"
                >{{ x.count1 }}</a
              >
            </div>
            <div>{{ x.value1 | currency: "Rs":0 }}</div>
          </td>
          <td>
            <div>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#dashModel"
                ng-click="showDashList()"
                >{{ x.count2 }}</a
              >
            </div>
            <div>{{ x.value2 | currency: "Rs":0 }}</div>
          </td>
          <td>
            <div>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#dashModel"
                ng-click="showDashList()"
                >{{ x.count3 }}</a
              >
            </div>
            <div>{{ x.value3 | currency: "Rs":0 }}</div>
          </td>
          <td>
            <div>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#dashModel"
                ng-click="showDashList()"
                >{{ x.count4 }}</a
              >
            </div>
            <div>{{ x.value4 | currency: "Rs":0 }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center col-lg-6">
      <h6>Dashboard</h6>
      <table
        class="table table-striped table-hover shadow-lg bg-body rounded Dash-table"
      >
        <tr>
          <th class="table-primary">
            {{ x.columnName }}
          </th>
        </tr>
        <tr>
          <td class="text-start" ng-model="user">{{ x.user }}</td>
          <td>
            <div>{{ x.details1 }}</div>
            <div>{{ x.details2 }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <div class="text-center">
        <h6>As on Date</h6>
      </div>

      <table
        class="table table-striped table-hover Dash-table shadow-lg bg-body rounded"
      >
        <tr>
          <th class="table-primary">
            {{ x.columnName }}
          </th>
        </tr>

        <tr>
          <td>
            <div>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#dashModel"
                ng-click="showDashList()"
                >{{ x.to_del1 }}</a
              >
            </div>
            <div>{{ x.to_del2 | currency: "Rs":0 }}</div>
          </td>
          <td>
            <div>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#dashModel"
                ng-click="showDashList()"
                >{{ x.to_bill1 }}</a
              >
            </div>
            <div>{{ x.to_bill2 | currency: "Rs":0 }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center col-lg-6">
      <h6>Dashboard</h6>
      <table
        class="table table-striped table-hover shadow-lg bg-body rounded Dash-table"
      >
        <tr>
          <th class="table-primary">
            {{ x.columnName }}
          </th>
        </tr>
        <tr>
          <td class="text-start" ng-model="user">{{ x.user }}</td>
          <td>
            <div>{{ x.details1 }}</div>
            <div>{{ x.details2 }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <div class="text-center">
        <h6>Alerts</h6>
      </div>

      <table
        class="table table-striped table-hover Dash-table shadow-lg bg-body rounded"
      >
        <tr>
          <th class="table-primary">
            {{ x.columnName }}
          </th>
        </tr>

        <tr>
          <td>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#dashModel"
              ng-click="showDashList()"
              >{{ x.misses }}
            </a>
          </td>
          <td>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#dashModel"
              ng-click="showDashList()"
              >{{ x.escal }}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
<div class="DashBoard">
  <iframe [src]="safeUrl" class="Iframe" frameborder="0"></iframe>
</div>
