<div class="sidebar close pb-3">

    <ul class="nav-links">

        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img1.png" alt=""></i>
                    <span class="link_name">Marketing</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display none and block   handle in validation.js-->
            <ul class="sub-menu shadow-lg  bg-body rounded ">
                <li><a class="link_name bg-dark text-white" href="#">Marketing</a></li>
                <li><a routerLink="/page/Prospect" routerLinkActive="active" id="Prospect">ProspectList</a>
                </li>
                <li><a routerLink="/dashBoard" routerLinkActive="active" id="Prospectdash">ProspectDashboard</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img2.png" alt=""></i>
                    <span class="link_name">Sales</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu shadow-lg  bg-body rounded ">
                <li><a class="link_name  bg-dark text-white" href="#">Sales</a></li>
                <li><a routerLink="/page/Lead" routerLinkActive="active" id="Lead">LeadList</a></li>
                <li><a href="#" id="Leaddash" onclick="openDash()">LeadDashboard</a></li>
                <li><a routerLink="/page/SalesOrderLIst" routerLinkActive="active" id="SO">SOList</a></li>
                <li><a href="#" id="SOdash">SODashboard</a></li>
            </ul>
        </li>

        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img3.png" alt=""></i>
                    <span class="link_name">Inventory</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu  shadow-lg  bg-body rounded ">
                <li><a class="link_name  bg-dark text-white" href="#">Inventoy</a></li>

                <li><a routerLink="/page/MoList" routerLinkActive="active" id="MO">MOList</a></li>
                <li><a href="#" id="MOdash">MODashboard</a></li>

                <li><a routerLink="/page/POList" routerLinkActive="active" id="PO">POList</a></li>
                <li><a href="#" id="POdash">PODashboard</a></li>
                <li><a routerLink="/page/MIList" routerLinkActive="active">MIList</a></li>
                <li><a href="#" id="MIdash">MIDashboard</a></li>
                <li><a routerLink="/page/Repair">RepairList</a></li>
                <li><a href="#" id="RepairDash">RepairDashboard</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img5.png" alt=""></i>
                    <span class="link_name">Payment</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu shadow-lg  bg-body rounded ">
                <li><a class="link_name  bg-dark text-white" href="#">Payment</a></li>
                <li><a routerLink="/page/Payment" id="Invoice">InvoiceList</a></li>
                <li><a href="#">InvoiceDashboard</a>
                </li>
                <li><a routerLink="/page/Payable" routerLinkActive="active" id="PI">PIList</a></li>
                <li><a href="#" id="PIDash">PIDashboard</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img6.png"> </i>
                    <span class="link_name"> Support</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu shadow-lg  bg-body rounded ">
                <li><a class="link_name  bg-dark text-white" href="#">Support</a></li>
                <li><a routerLink="/page/Ticket" routerLinkActive="active" id="Ticket">TicketList</a></li>
                <li><a href="#" id="TicketDash">TicketDashboard</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img7.png" alt=""></i>
                    <span class="link_name">AMC</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu shadow-lg   bg-body rounded">
                <li><a class="link_name  bg-dark text-white" href="#">AMC</a></li>
                <li><a routerLink="/page/AMC" routerLinkActive="active" id=" AMC">AMCList</a></li>
                <li><a href="#" id="AMCDash">AMCDashboard</a></li>
            </ul>
        </li>


        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img8.png" alt=""></i>
                    <span class="link_name">Work</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu shadow-lg  bg-body rounded">
                <li><a class="link_name  bg-dark text-white" href="#"> Work</a></li>
                <li><a routerLink="/page/Work" routerLinkActive="active" id="Work">WorkList</a></li>
                <li><a href="#" id="WorkDash">WorkDashboard</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i><img class="sideNavimg" src="assets/img/img9.png" alt=""></i>
                    <span class="link_name">Project</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- onclick function div display block and none handle in validation.js-->
            <ul class="sub-menu shadow-lg bg-body rounded ">
                <li><a class="link_name bg-dark text-white" href="#"> Project</a></li>
                <li><a href="#" id="Project">My Project</a></li>
            </ul>
        </li>



    </ul>
</div>
<div class=" contain home-section">
    <app-prospect-list></app-prospect-list>

</div>