.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;
  padding-top: 28px;
}
.id-title-block span{
  display: block;
}
.id-entity span{
  display:inline-block;
}
.table_heading {
  background-color: #bce1c6;
}
.card{
  height: 200px;
}

.standard-color-modal{
  background-color: #dcebdc;
}
.company_details{
  padding: 5px 0p 5px 0px;
  row-gap: 10px;
}
.span-text{
  color: lightslategray;
  font-size: 15px;
  padding-right: 10px;
}
.resp-text{
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.nxt-action-details{
  margin-top: 5px;
  margin-bottom: 5px;
}
.i-block{
  margin-top: 5px;
}

.i-block span{
  display: block;
  color: lightslategray;
}
.date-class{
  color:black;
  font-weight: bold;
  font-size: 14px;
}
