<div *ngIf="entityData" class="entityData">
  <!--Header Start Here-->
  <div class="modal-header standard-color-modal modal-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>{{ entityData?.CompanyName }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-header id-name-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 id-title-block">
          <div class="id-entity">
            <span>{{ EntityNameTitle }}</span> ID : <span>{{ Entityid }}</span>
          </div>
          <span> Title : {{ entityData?.Title }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body mt-3 mb-3 standard-color-modal">
    <div class="container">
      <!--Billing addres part-->
      <div class="row">
        <div class="col-lg-6">
          <div class="card p-3">
            <h3>Billing Address :</h3>
            <div>
              <span>{{ entityData?.CompanyAddress }}</span>
              <span> {{ entityData?.CompanyAddress1 }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card p-3">
            <div class="row company_details">
              <div class="row">
                <div class="col-6">
                  <span class="span-text">Status : </span>
                  <span class="resp-text">{{ entityData?.BillingStatus }}</span>
                </div>
                <div class="col-6 d-flex">
                  <span class="span-text">Stage : </span>
                  <span class="resp-text">{{ entityData?.Stage }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span class="span-text">Priority : </span>
                  <span class="resp-text"> {{ entityData?.Priority }}</span>
                </div>
                <div class="col-6 d-flex">
                  <span class="span-text">Probability : </span>
                  <span class="resp-text">{{ entityData?.Probability }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <span class="span-text">Source : </span>
                  <span class="resp-text">{{ entityData?.Source }}</span>
                </div>
                <div class="col-6 d-flex">
                  <span class="span-text">Source Ref : </span>
                  <span class="resp-text">{{ entityData?.Source_Ref }}</span>
                </div>
              </div>
            </div>
            <div class="row nxt-action-details">
              <div class="col-12">
                <div class="i-block">
                  <span>Next Schedule Action</span>
                  <span>Follow up action on</span>
                  <span class="date-class">{{
                    entityData?.Opendate | date: "dd MMM YYYY "
                  }}</span>
                  <span>To call and ask for demo meeting</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Product"
              ><table class="table mt-2" *ngIf="ViewProductDetail">
                <thead>
                  <tr class="table_heading">
                    <th>Product</th>
                    <th>Rate</th>
                    <th>Discount</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Taxes</th>
                    <th>TaxAmount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Product of ViewProductDetail">
                    <td>{{ Product.Name }}</td>
                    <td>{{ Product.rate }}</td>
                    <td>{{ Product.Discount_val }}</td>
                    <td>{{ Product.Quantity }}</td>
                    <td>{{ Product.amount }}</td>
                    <td>{{ Product.Taxes_val }}</td>
                    <td>{{ Product.TaxAmount_val }}</td>
                  </tr>
                </tbody>
              </table></mat-tab
            >
            <mat-tab label="Actions">
              <table class="table mt-2">
                <thead>
                  <tr class="table_heading">
                    <th>Id</th>
                    <th>Sch Id</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>By</th>
                    <th>Discussions</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Action of ViewActionDetail">
                    <td>{{ Action.ActualId }}</td>
                    <td>{{ Action.SeqId }}</td>
                    <td>{{ Action.ActionStartDate | date: "dd MMM y" }}</td>
                    <td>{{ Action.ActionStartTime }}</td>
                    <td>{{ Action.username }}</td>
                    <td>{{ Action.Discussions }}</td>
                    <td>{{ Action.TaxAmount_val }}</td>
                  </tr>
                </tbody>
              </table></mat-tab
            >
            <mat-tab label="Chats"><app-chat></app-chat> </mat-tab>
            <mat-tab label="Attachments">Content 3</mat-tab>
            <mat-tab label="Vouchers">Content 3</mat-tab>
            <mat-tab label="Notes"><app-note></app-note></mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
