.Contain {
  min-width: 70%;
}
.productSection {
  display: flex;
  width: 50%;
}
.contact_form {
  min-height: 400px;
  margin: 0px 6px;
  padding: 10px;
}
.full-width {
  width: 100%;
}
li {
  text-decoration: none;
  display: inline;
  padding-left: 10px;
  cursor: pointer;
}
h4 {
  text-align: center;
  color: lightskyblue;
  margin: 0px !important;
}
.contact_form textarea {
  height: 330px;
  resize: none;
}
.schedulTextarea {
  height: 60px;
  resize: none;
}
.Formheader {
  display: flex;
  justify-content: space-around;
}

.modal-heading {
  /* background-color: #bce1c6; */
  height: 30px;
  text-align: center;
}

.standard-color-modal {
  background-color: #dcebdc;
}

.link {
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
}
.formFooter {
  display: flex;
  justify-content: space-between;
  height: 48px;

  margin: 7px 5px 0px 5px;
}
.mat-stroked-button {
  margin-right: 15px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}
.mat-checkbox {
  margin-top: 16px;
}
.product {
  position: fixed;
  bottom: 24%;
  background: white;
}
.productName {
  font-weight: 500;
}
.ScheduleAction {
  height: fit-content;
  position: fixed;
  bottom: 8%;
  background-color: #bce1c6;
  left: 70%;
  top: 18%;
  padding: 10px;
}
.scheduleContain {
  margin-top: 20px;
  background-color: white;
  padding: 7px;
  height: 100%;
}
.scheduleRadioButtons {
  display: flex;
}
.mat-radio-button {
  margin-right: 10px;
}
.ScheduleCreateButton {
  background-color: green;
  color: white;
}
.CancelButton {
  background-color: red;
  color: white;
}
.linkbutton {
  display: flex;
  justify-content: space-between;
}
