<div class="Contain">
  <div mat-dialog-title class="Formheader modal-heading standard-color-modal">
    <div><h2 class="text-cente">New / Edit</h2></div>
    <div class="text-end">
      <h4><a class="link" (click)="Detail()"> Additional Details</a></h4>
    </div>
  </div>
  <form [formGroup]="userForm" (submit)="CreateTicket(userForm.value)">
    <div class="row g-0">
      <div class="col">
        <h4>For Company</h4>
        <div class="contact_form row g-0 border border-primary">
          <div class="col-lg-10">
            <app-autocomplete (company)="company($event)"></app-autocomplete>
            <li class="company_link">
              <a class="link" style="color: red">Select Site</a>
            </li>
            <li class="company_link">
              <a class="link" style="color: red" (click)="address()">
                Address</a
              >
            </li>
            <li class="company_link">
              <a style="color: red" class="link">Channel Partener</a>
            </li>
          </div>

          <div class="col-lg-2">
            <a class="link" style="color: red">+</a>

            <a class="link" style="color: red">360</a>
          </div>
          <div class="col-lg-11">
            <mat-form-field class="full-width">
              <mat-label>Contact</mat-label>
              <mat-select formControlName="ContactId">
                <mat-option
                  (click)="Contact(contact)"
                  *ngFor="let contact of contactData"
                  [value]="contact.Id"
                >
                  {{ contact.Name }}</mat-option
                >
              </mat-select>
              <!-- <input matInput name="Contact" required /> -->
            </mat-form-field>
          </div>

          <div class="col-lg-1">
            <a class="link" style="color: red">+</a>
          </div>

          <div class="col-lg-1"><mat-checkbox> </mat-checkbox></div>
          <div class="col-lg-5">
            <mat-form-field class="full-width">
              <mat-label>Mobile</mat-label>
              <input matInput formControlName="ContactMobile" />
            </mat-form-field>
          </div>
          <div class="col-lg-1">
            <mat-checkbox formControlName="Emailcheckbox"> </mat-checkbox>
          </div>
          <div class="col-lg-5">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput [email]="true" formControlName="ContactEmail" />
              <!-- <mat-error  
              >Please enter a valid email address
            </mat-error> -->
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <mat-form-field class="full-width">
              <mat-label>Manager</mat-label>
              <mat-select
                formControlName="OwnerId"
                (ngModelChange)="ManagerContact($event)"
              >
                <mat-option *ngFor="let user of userValues" [value]="user.id">
                  {{ user.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-1 text-center"><mat-checkbox> </mat-checkbox></div>
          <div class="col-lg-5">
            <mat-form-field class="full-width">
              <mat-label>Mobile</mat-label>
              <input matInput formControlName="OwnerMobile" />
            </mat-form-field>
          </div>
          <div class="col-lg-1 text-center">
            <mat-checkbox> </mat-checkbox>
          </div>
          <div class="col-lg-5">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput [email]="true" formControlName="OwnerEmail" />
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <mat-form-field class="full-width">
              <mat-label> Title</mat-label>
              <input matInput formControlName="Title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>Details</h4>
        <div class="contact_form border border-primary">
          <div>
            <!-- 1st row Details section start -->
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Source</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(39, 59)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="lead">
                  <mat-label>Source</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(72, 92)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Source</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(72, 92)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="DelivaryMode">
                  <mat-label>Delivary Mode</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="mi">
                  <mat-label>Received Mode</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="paymentpayable">
                  <mat-label>Invoice Type</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Complaint for product / Service type</mat-label>
                  <mat-select formControlName="ProductServicetype">
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>Priority</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospectlead">
                  <mat-label>Source Detail</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Source text</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="DelivaryName">
                  <mat-label>Delivary Name</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mo">
                  <mat-label>Delivary mode</mat-label>
                  <mat-select> </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Delivary mode</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(92, 98)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="mi">
                  <mat-label>Transport/Courier Name</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="payment">
                  <mat-label>GST Type</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Select Problem</mat-label>
                  <mat-select formControlName="SelectProblem">
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>Process</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- 1st row Details Section end  -->
            <!-- 2nd row Details Section start  -->
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Allocate To</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="payment">
                  <mat-label>Billed By</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="pi">
                  <mat-label>Entered By</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Ticket Type</mat-label>
                  <mat-select formControlName="TypeId">
                    <mat-option
                      *ngFor="
                        let TicketType of DDTypeValue | formFilter: 'TicketType'
                      "
                      [value]="TicketType.Key"
                      >{{ TicketType.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="DispatchBy">
                  <mat-label>Dispatch By</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="prospectlead">
                  <mat-label>Priority</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>Reference / Project</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-2" *ngIf="ticket">
                <mat-form-field class="full-width">
                  <mat-label>Amount</mat-label>
                  <input matInput formControlName="ChargeAmount" />
                </mat-form-field>
              </div>
              <div class="col-lg-2" *ngIf="work">
                <mat-form-field class="full-width">
                  <mat-label>Score</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>DropDown</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="lead">
                  <mat-label>Exp Closer Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="lExpCloserDate"
                    [(ngModel)]="LExpCloserDate"
                    name="LExpCloserDate"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="lExpCloserDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #lExpCloserDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Delivary Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="delDate"
                    [(ngModel)]="DelDate"
                    name="DelDate"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="delDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #delDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Problem Type</mat-label>
                  <mat-select formControlName="ProblemType">
                    <mat-option
                      *ngFor="
                        let ProblemType of DDTypeValue
                          | formFilter: 'TicketWorkType'
                      "
                      value="{{ ProblemType.Key }}"
                      >{{ ProblemType.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="Stage">
                  <mat-label>Stage</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="Docket">
                  <mat-label> Docket/LR Number</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label> Repest Event</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
            </div>
            <!-- 2nd row Details Section end  -->
            <!-- 3rd row Details Section start  -->
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>.......</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="lead">
                  <mat-label>Stage</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(97, 107)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Delivar Mode</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mo">
                  <mat-label>Customer PO Number</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Payment Terms</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mi">
                  <mat-label>Material Invard Type</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(192, 204)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Priority</mat-label>
                  <mat-select formControlName="Priority">
                    <mat-option
                      *ngFor="
                        let Priority of DDTypeValue | formFilter: 'Priority'
                      "
                      [value]="Priority.Key"
                      >{{ Priority.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="PONumber">
                  <mat-label>PO Number</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>Frequancy</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Stage</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let stageValue of CommanData.slice(59, 66)"
                      value="{{ stageValue.Key }}"
                    >
                      {{ stageValue.Value }}</mat-option
                    > -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="lead">
                  <mat-label> Probability</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Delivary By</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Warranty Terms</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mi">
                  <mat-label>Returnable Type</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>Every</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Close Before</mat-label>
                  <input
                    matInput
                    [matDatepicker]="tCloseBefore"
                    formControlName="TCloseBefore"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="tCloseBefore"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #tCloseBefore></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="PODate">
                  <mat-label>PO Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="mPODate"
                    [(ngModel)]="MPODate"
                    name="MPODate"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="mPODate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #mPODate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- 3rd row Details Section End  -->
            <!-- 4th row Details Section start  -->
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Industry Type.</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="lead">
                  <mat-label>Status</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(92, 98)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Delivary Status</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(129, 135)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mo">
                  <mat-label>Material Out Type</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Advance Payment</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mi">
                  <mat-label>Purchase Invoice Status</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="payment">
                  <mat-label>Reminder Periodicity</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="pi">
                  <mat-label>Supplier Invoice Number</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Ticket Source</mat-label>
                  <mat-select formControlName="TicketSourceId">
                    <mat-option
                      *ngFor="
                        let TicketSource of DDTypeValue
                          | formFilter: 'TicketSource'
                      "
                      value="{{ TicketSource.Key }} "
                      >{{ TicketSource.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>Every Month</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>....</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="lead">
                  <mat-label>Product Service</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="so">
                  <mat-label>Billing Status</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(135, 138)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mo">
                  <mat-label>Returnable</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Material EXP Del Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="poEXPDelDate"
                    [(ngModel)]="POEXPDelDate"
                    name="POEXPDelDate"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="poEXPDelDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #poEXPDelDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mi">
                  <mat-label>Bill Receipt Status</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="ticket">
                  <mat-label>Stage</mat-label>
                  <mat-select formControlName="Stage">
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="work">
                  <mat-label>M T W T F S S</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="paymentpayable">
                  <mat-label>Invoice Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="piInvoiceDate"
                    [(ngModel)]="PIInvoiceDate"
                    name="PIInvoiceDate"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="piInvoiceDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #piInvoiceDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- 4th row Details Section End  -->
            <!-- 5th row Details Section start  -->
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Text 1</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mo">
                  <mat-label>Stage</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="payment">
                  <mat-label>Material Del Status</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(234, 246)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Material Receipt Status</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="pi">
                  <mat-label>Material Receipt Status</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>

              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Text 2</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="mo">
                  <mat-label>Billing Status</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(174, 192)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="po">
                  <mat-label>Purchase Invoice Status</mat-label>
                  <mat-select>
                    <mat-select>
                      <!-- <mat-option
                        *ngFor="let sourceValue of CommanData.slice(204, 208)"
                        value="{{ sourceValue.Key }} "
                        >{{ sourceValue.Value }}
                      </mat-option> -->
                    </mat-select>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="paymentpayable">
                  <mat-label>Payment Receipt Status</mat-label>
                  <mat-select>
                    <!-- <mat-option
                      *ngFor="let sourceValue of CommanData.slice(223, 231)"
                      value="{{ sourceValue.Key }} "
                      >{{ sourceValue.Value }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- 5th row Details Section End  -->
            <!-- 6th row Details Section start  -->
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Product</mat-label>
                  <mat-select>
                    <mat-option> </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="full-width" *ngIf="prospect">
                  <mat-label>Value</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- 6th row Details Section End  -->
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Description</h4>
        <div class="contact_form border border-primary">
          <div class="form-field col-lg-12">
            <mat-form-field class="full-width">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                maxlength="300"
                formControlName="Description"
                required
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="product" *ngIf="Product">
      <app-ticket-product
        [ProductData]="ProductData"
        (product)="product($event)"
        (selectedProduct)="selectedProduct($event)"
      ></app-ticket-product>
    </div>
    <div class="formFooter">
      <div class="productSection">
        <div class="col-lg-4">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" (click)="TicketProduct()"
              >Product</mat-radio-button
            >
            <!-- <mat-radio-button value="2">Temp Product</mat-radio-button> -->
          </mat-radio-group>
        </div>

        <div class="col-lg-8">
          <div>
            <div class="productName">
              {{ SelectedProductData?.productName }}
            </div>
            <div>{{ SelectedProductData?.CIOwnerId }}</div>
            <div>{{ SelectedProductData?.TypeId }}</div>
            <div>
              {{ SelectedProductData?.WarrantyTo_new | dateformat }} -
              {{ SelectedProductData?.Warrantyfrom_new | dateformat }}
            </div>
          </div>
          <!-- <div>
            <mat-form-field class="full-width"  >
              <mat-label>Product</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let temp of tempProduct"
                  value="{{ tempProduct.id }}"
                  ngModel
                  >{{ tempProduct.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
      </div>
      <div>
        <a class="link" (click)="scheduleAction()"> Schedule</a>
      </div>
      <div>
        <button
          class="CancelButton"
          mat-button
          mat-dialog-close
          mat-stroked-button
          color="warn"
        >
          Cancel
        </button>
      </div>
      <!-- <div class="linkbutton"> -->

      <!-- <button
          class="ScheduleCreateButton"
          mat-button
          mat-stroked-button
         
        >
         
        </button> -->

      <!-- <button
          mat-button
          mat-stroked-button
          color="primary"
          type="submit"
          class="border border-primary"
        >
          Create
        </button> -->
      <!-- </div> -->

      <!-- [mat-dialog-close]="true" -->
    </div>
    <div class="ScheduleAction" *ngIf="ScheduleAction">
      <div class="scheduleRadioButtons">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="ActionType"
        >
          <mat-radio-button value="Visit">Visit</mat-radio-button>
          <mat-radio-button value="Email">Email</mat-radio-button>
          <mat-radio-button value="Phone">Phone</mat-radio-button>
          <mat-radio-button value="Message">Message</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="scheduleContain">
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="full-width">
              <mat-label>Allocate To</mat-label>
              <mat-select formControlName="AllocateTo">
                <mat-option value="DC5254">Dattatray Chavan </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="full-width">
              <mat-label>Close Before</mat-label>
              <input
                matInput
                [matDatepicker]="closeBefore"
                formControlName="CloseBefore"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="closeBefore"
              ></mat-datepicker-toggle>
              <mat-datepicker #closeBefore></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-checkbox class="full-width">
              <mat-form-field class="full-width">
                <mat-label>E-mail</mat-label>
                <input matInput [email]="true" formControlName="SchduleEmail" />
              </mat-form-field>
            </mat-checkbox>
          </div>
          <div class="col-lg-6">
            <mat-checkbox class="full-width">
              <mat-form-field class="full-width">
                <mat-label>SMS</mat-label>
                <input name="scheduleMobile" matInput />
              </mat-form-field>
            </mat-checkbox>
          </div>

          <div class="col-lg-12">
            <mat-form-field class="full-width">
              <mat-label>Instruction</mat-label>
              <textarea
                class="schedulTextarea"
                matInput
                formControlName="Instruction"
                required
              ></textarea>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-form-field class="full-width">
              <mat-label>Schedule On</mat-label>
              <input
                matInput
                [matDatepicker]="scheduleOn"
                formControlName="ScheduleOn"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="scheduleOn"
              ></mat-datepicker-toggle>
              <mat-datepicker #scheduleOn></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput
                type="time"
                formControlName="ScheduleActionTime"
              />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-form-field class="full-width">
              <mat-label>Days</mat-label>
              <mat-select formControlName="Days">
                <mat-option value="1"> 1</mat-option>
                <mat-option value="2"> 2</mat-option>
                <mat-option value="3"> 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="full-width">
              <mat-label>Alert Before</mat-label>
              <mat-select formControlName="AlertBefore">
                <mat-option value="Minutes"> Minutes</mat-option>
                <mat-option value="hh"> Hours</mat-option>
                <mat-option value="Days"> Days</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="text-end">
            <button
              mat-dialog-close
              mat-button
              mat-stroked-button
              type="submit"
              class="ScheduleCreateButton"
            >
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
